# Database
DB_ROOT_PASSWORD=your_root_password_here
DB_NAME=classics_learning
DB_USER=classics_user
DB_PASSWORD=YOUR_PASSWORD_here

# Frontend
FRONTEND_URL=http://localhost:5173

# Backend
SECRET_KEY=your-secret-key
